body {
  margin: 0;
  padding: 0;
  font-family: interstate;
  background: #9D2235;
  color: #222;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}


.navbar {
  background: #222;
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 3px;
}

.navbar a.active,
.navbar a:hover {
  border-bottom: 2px solid white;
}


.hero {
  height: 160px;
  background: url('../images/arkansas-banner.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background: rgba(0,0,0,0.55);
  padding: 6px 18px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.hero-text h1 {
  margin: 0;
  font-size: 42px;
}


.intro-section {
  padding: 10px 0;
  text-align: center;
}

.intro-section h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
}

.intro-section p {
  font-size: 18px;
  line-height: 1.6;
}


.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}

.featured-card {
  background: white;
  width: 330px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.featured-card h3 {
  margin-top: 0;
}

.featured-box img {
  border-radius: 8px;
  margin-bottom: 10px;
}


.nav-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px 0;
}

.nav-card {
  background: #222;
  padding: 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-card:hover {
  background: #444;
}

.nav-card a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 40px 0;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  cursor: pointer;
  text-align: center;
}

.card img {
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}


.about-section {
  padding: 50px 20px;
  background: black;
  max-width: 900px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.55);
}


.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  padding-top: 60px;
}

.modal-content {
  background: white;
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
}

.close {
  font-size: 32px;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}
